<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title></title>
<link th:href="@{/ui/back/lib/custom/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/ui/back/lib/jqueryUI/jquery-ui-1.10.0.custom.css}" rel="stylesheet"/>
<link th:href="@{/ui/back/lib/custom/css/font/font-awesome.css}" type="text/css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/ui/back/lib/custom/css/compiled/layout.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/ui/back/lib/custom/css/compiled/elements.css}"/>
<link rel="stylesheet" th:href="@{/ui/back/lib/custom/css/custom.css}" type="text/css"/>
<!--<link type="image/x-icon" href="favicon.png" rel="shortcut icon"/>-->
<!--[if lt IE 9]>
		<script th:src="js/html5shiv.js"></script>
		<script th:src="js/respond.min.js"></script>
<![endif]-->

</head>
<body>

</body>
</html>