<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
</head>
<body th:fragment="body">
<script th:src="@{/ui/back/lib/custom/js/jquery.js}"></script>
<script th:src="@{/ui/back/lib/jqueryUI/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/ui/back/lib/custom/js/bootstrap.js}"></script>
<script th:src="@{/ui/back/lib/custom/js/jquery.nicescroll.min.js}"></script>
<script th:src="@{/ui/back/lib/custom/js/jquery.stalker.js}"></script>
<script th:src="@{/ui/back/lib/custom/js/scripts.js}"></script>
<script th:src="@{/ui/back/lib/custom/js/sqlblindfilter.js}"></script>
</body>
</html>