<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body th:fragment="body">
    <div class="main_footer">
        <div class="main_footer_bottom">
            <p><a href="about-sss.html">关于我们</a> | <a href="about-mobile.html">手机网站</a> | <a href="about-guanggao.html">广告报价</a> | <a href="about-jobs.html">诚聘人才</a> | <a href="about-flfg.html">法律法规</a> | <a href="about-contact.html">联系我们</a> </p>
            <p>Copyright2015 www.zhuantx.com,All Rights Reserved ICP备案：蜀ICP备13010842号</p>
            <p><span class="main_footer_bm_ico index_ico"></span></p>
        </div>
    </div>
</body>
</html>