<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" th:href="@{/ui/static/ui/j.ui.css}"  />
    <link rel="stylesheet" type="text/css" th:href="@{/ui/static/style/kt.widget.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/ui/static/style/common.css}"  />
    <link rel="stylesheet" type="text/css" th:href="@{/ui/static/script/bxslider/jq.bxslider.css}"   />
    <link type="text/css" rel="stylesheet" th:href="@{/ui/themes/default/static/css/public.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/ui/themes/default/static/css/style.css}"  />
    <link rel="stylesheet" type="text/css" th:href="@{/ui/themes/default/static/css/append.css}"  />
    <link rel="stylesheet" type="text/css" th:href="@{/ui/themes/fangTo8to/static/css/append.css}"  />

    <script type="text/javascript"  th:src="@{/ui/static/script/kt.j.js}"></script>
    <script type="text/javascript"  th:src="@{/ui/static/script/kt.js}" ></script>
    <script type="text/javascript"  th:src="@{/ui/static/ui/j.ui.js}"  ></script>
    <script type="text/javascript"  th:src="@{/ui/static/script/widget.login.js}" ></script>
    <script type="text/javascript"  th:src="@{/ui/static/script/widget.msgbox.js}" ></script>
    <script type="text/javascript"  th:src="@{/ui/static/script/bxslider/jq.bxslider.min.js}" ></script>
    <script type="text/javascript"  th:src="@{/ui/static/script/jquery.lazyload.js}" ></script>
    <script type="text/javascript"  th:src="@{/ui/themes/default/static/js/scroll.js}" ></script>


</head>
<body>

</body>
</html>