<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body th:fragment="body">

   <script  th:src="@{/ui/static/script/kt.j.js}"></script>
    <script  th:src="@{/ui/static/script/kt.js}" ></script>
    <script  th:src="@{/ui/static/ui/j.ui.js}"  ></script>
    <script  th:src="@{/ui/static/script/widget.login.js}" ></script>
    <script  th:src="@{/ui/static/script/widget.msgbox.js}" ></script>
    <script  th:src="@{/ui/static/script/bxslider/jq.bxslider.min.js}" ></script>
    <script  th:src="@{/ui/static/script/jquery.lazyload.js}" ></script>
    <script  th:src="@{/ui/themes/default/static/js/scroll.js}" ></script>

</body>
</html>