<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	lang="zh_CN">
<head th:replace="backFragments/head :: head">
<meta charset="UTF-8" />
</head>
<body class="fixed-header fixed-leftmenu">
	<header th:include="backFragments/header-navbar :: body" th:remove="tag"></header>
	<div id="page-wrapper" class="container">
		<div class="row">
			<div th:include="backFragments/nav-col :: body" th:remove="tag"></div>
			<div id="content-wrapper">
				<nav class="fixed-top" role="navigation">
				</nav>
				  <div class="container-fluid" style="margin:0; padding:0;">
					  <!-- bg.jpg才是修正的目标-->
  					<div class="index-bg" style="margin:0; background:url(ui/back/lib/custom/img/bg_.jpg) #fefefe center; box-shadow:none">
  						<!-- <img th:src="@{/resources/lib/custom/img/bg.jpg}"/> -->
    				</div>
  				  </div>
			</div>
			
		</div>
	</div>
	<script th:include="backFragments/script :: body" th:remove="tag"></script>
	<script>
	$(document).ready(function(){
		$(".index-bg").height($(window).height()-50);		
	});
		
	</script>
</body>
</html>