<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
                Plain </a>
            <ul class="nav">
                <li><a th:href="@{/}" href="home.html"> Home </a></li>
            </ul>
        </div>
    </div>
    <h1>you are home~</h1>
    <br/>
    <div> &nbsp;&nbsp;hi~ ,it is worked!</div>
    <div id="created" >&nbsp;&nbsp;so ,it is a patty time ,let us go!</div>
    <br/>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>